# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Backend
backend/models/
backend/logs.db
backend/venv/
backend/env/

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Mobile
.dart_tool/
.packages
.pub/
pubspec.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
